<!--{% load static %}-->

<!DOCTYPE html>
<html>
<head>
    <title>SEP All Clear API Documentation</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no"
          name="viewport"/>
    <link href="./staticfiles/assets/css/main.css" rel="stylesheet"/>
    <link href="./staticfiles/staticimages/favicon.ico" rel="icon"/>
    <!--    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet"/>-->
    <!--    <link href="{% static 'staticimages/favicon.ico' %}" rel="icon"/>-->
</head>
<body class="homepage is-preload">
<a name="top"></a>
<div id="page-wrapper">
    <header id="header">
        <div class="logo container">
            <div>
                <h1>
                    <a href="http://dmlab.cs.gsu.edu/" id="logo" target="_blank">GSU
                        DMLab | </a>
                </h1>
                <p>
                    SEP All Clear <u>API</u>&nbsp;Documentation
                </p>
            </div>
        </div>
    </header>
    <!-- Nav -->

    <nav id="nav">
        <ul>
            <li class="current"><a href="#top">TOP</a></li>
        </ul>
    </nav>
    <!-- Banner -->

    <section id="banner">
        <div class="content">
            <p>This page contains the API documentation for the SEP All Clear predictor
                provided by the Datamining Lab at Georgia State University.</p>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <div class="row gtr-200">
                <div class="col-12">
                    <!-- Highlight -->
                    <section class="box highlight">
                        <header>
                            <h2>Solar Energetic Particle Event Forecasting System API</h2>

                            <p>This API is the product of our study abstracted below:</p>
                        </header>

                        <div>
                            <p>An all-clear flare prediction is a type of solar flare forecasting that puts more
                                emphasis on predicting non-flaring instances (often relatively small flares and flare
                                quiet regions) with high precision while still maintaining valuable predictive results.
                                While many flare prediction studies do not address this problem directly, all-clear
                                predictions can be useful in operational context. However, in all-clear predictions,
                                finding the right balance between avoiding false negatives (misses) and reducing the
                                false positives (false alarms) is often challenging. Our study focuses on training and
                                testing a set of interval-based time series named Time Series Forest (TSF). These
                                classifiers will be used towards building an all-clear flare prediction system by
                                utilizing multivariate time series data. Throughout this paper, we demonstrate our data
                                collection, predictive model building and evaluation processes, and compare our time
                                series classification models with baselines using our benchmark datasets. Our results
                                show that time series classifiers provide better forecasting results in terms of skill
                                scores, precision and recall metrics, and they can be further improved for more precise
                                all-clear forecasts by tuning model hyperparameters.</p>
                        </div>
                    </section>
                </div>

                <div class="col-12">
                    <section class="box features">

                        <h2 class="major">
                            <span>SEP All Clear Requests</span>
                        </h2>

                        <h4>Option Descriptions</h4>
                        <ul>
                            <li><b>datetime:</b> A query Datetime input must be in the following format: <b>YYYY-MM-DDTHH:MM:SS</b>.
                                When provided, the result in the database that is the first next report after this time
                                is returned. When not provided, the most recent report from the database is returned.
                            </li>
                        </ul>
                        <hr>

                        <div>
                            <ul class="special">
                                <li>
                                    <h4>Default Data Request:</h4>

                                    <p>
                                        An example of the address for the minimal result JSON object with only the issue
                                        time and all clear probability returned for next report after November 12, 2020
                                        at 09:19:00:
                                        <a href="./all-clear-report/?datetime=2020-11-12T09:19:00" target="_blank">./all-clear-report/?datetime=2020-11-12T09:19:00</a>
                                    </p>

                                    <p>
                                        Output is a JSON serialized response in a format matching the following:
                                        <b>{"issue_time": "2020-11-12T09:36:00Z", "all_clear_prob": 1.0}</b>
                                    </p>
                                </li>
                                <hr>
                                <li>
                                    <h4>Extended Scoreboard Data Request:</h4>
                                    <div>
                                        <p>
                                            An example of the address for the extended result JSON object with only the
                                            issue
                                            time and all clear probability returned for next report after November 12,
                                            2020
                                            at 09:19:00:
                                            <a href="./all-clear-scoreboard-report/?datetime=2020-11-12T09:19:00"
                                               target="_blank">./all-clear-scoreboard-report/?datetime=2020-11-12T09:19:00</a>
                                        </p>

                                        <p>
                                            Output is a JSON serialized response in a format matching the following:
                                            <b>{"sep_forecast_submission": {"model": {"short_name": "GSU All Clear",
                                                "spase_id": "N/A"}, "issue_time": "2021-10-11T16:24:00Z", "mode":
                                                "historical", "forecasts": [{"energy_channel": {"min": 10, "max": -1,
                                                "units": "MeV"}, "species": "proton", "location": "earth",
                                                "prediction_window": {"start_time": "2021-10-11T16:24:00Z", "end_time":
                                                "2021-10-12T04:24:00Z"}, "probabilities": [{"probability_value":
                                                0.273930081225936, "threshold": 10.0, "threshold_units": "pfu"}],
                                                "all_clear": {"all_clear_boolean": false, "threshold": 10.0,
                                                "threshold_units": "pfu", "probability_threshold": 0.25}}]}}</b>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
<!--                        <div class="box features">
                            <header>
                                <h2 class="major">
                                    <span>Output</span>
                                </h2>

                            </header>

                            <p>Output is a JSON serialized response like: </p>
                            <p><b>{"issue_time": "2020-11-12T09:36:00Z", "all_clear_prob": 1.0}</b></p>

                        </div>-->
                    </section>
                </div>

            </div>
    </section>

    <footer id="footer">
        <div class="container">
            <div class="row gtr-200">
                <div class="col-12">
                    <section>
                        <h2 class="major">
                            <span>Authors</span>
                        </h2>

                        <ul class="menu">
                            <li><a href="https://dmlab.cs.gsu.edu/?page_id=131"
                                   target="_blank">Dustin J. Kempton</a></li>
                            <li><a href="https://dmlab.cs.gsu.edu/?page_id=129"
                                   target="_blank">Berkay Aydin</a></li>
                            <li><a href="https://dmlab.cs.gsu.edu/?page_id=168"
                                   target="_blank">Rafal A. Angryk</a></li>
                        </ul>
                    </section>

                    <section>
                        <h2 class="major">
                            <span>Cite the Supporting Publication</span>
                        </h2>
                        <p>
                            DOI: <a href="https://doi.org/10.1109/BigData50022.2020.9377906"
                                    target="_blank">10.1109/BigData50022.2020.9377906</a>
                        <div class="codewrapper">@INPROCEEDINGS{ji2020all-clear,
                            author={Ji, Anli and Aydin, Berkay and Georgoulis, Manolis K. and Angryk, Rafal},
                            booktitle={2020 IEEE International Conference on Big Data (Big Data)},
                            title={All-Clear Flare Prediction Using Interval-based Time Series Classifiers},
                            year={2020},
                            volume={},
                            number={},
                            pages={4218-4225},
                            doi={10.1109/BigData50022.2020.9377906}}
                        </div>

                        <section>
                            <h2 class="major">
                                <span>Acknowledgement</span>
                            </h2>

                            <div class="codewrapper">
                                This project has been supported in part by funding from the funding from Division of
                                Advanced Cyberinfrastructure within the Directorate for Computer and Information Science
                                and Engineering, the Division of Astronomical Sciences within the Directorate for
                                Mathematical and Physical Sciences, and the Division of Atmospheric and Geospace
                                Sciences within the Directorate for Geosciences, under NSF award #1931555. It was also
                                supported in part by funding from the Heliophysics Living With a Star Science Program,
                                under NASA award #NNX15AF39G.
                            </div>

                            <p>
                                This software is distributed using the <a
                                    href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GNU General
                                Public
                                License, Version
                                3</a>

                            </p>
                            <!--                        <img src="{% static 'staticimages/gplv3-88x31.png' %}" alt="GPL v3 Image">-->
                            <img src="./staticfiles/staticimages/gplv3-88x31.png" alt="GPL v3 Image">
                        </section>


                </div>
            </div>
            <!-- Copyright -->

            <div id="copyright">
                <ul class="menu">
                    <li>&copy; 2022, <a href="http://dmlab.cs.gsu.edu/"
                                        target="_blank">DMLab</a></li>
                    <li><a href="https://www.gsu.edu/" target="_blank">Georgia
                        State University</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
